header {
    background-color: #e5eaf7;

}


.navbar {
    background-color: #112a44;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);

    p {
        margin: 0px;
    }

    .offerCards {
        width: 230px;
        @include flex(row, space-between, center);
        border-right: 1px dashed gray;

        .content {
            margin: 0px 0px 0px 10px;
            @include flex(column, space-between, flex-start);

            .heading {
                font-size: 14px;
                font-weight: bold;
            }

            .text {
                font-size: 12px;
                color: lightgray;
            }
        }
    }

    .content {
        width: 80%;
        margin: auto;
        @include flex(row, space-between, center);

    }

    ul {
        list-style-type: none;
        @include flex(row, flex-end, center);

        li {
            margin: 0px 10px;

            &:last-child {
                margin-right: 0px;
            }

            a {
                text-decoration: none;
                color: #fff;
                @include flex(row, center, center);

            }
        }
    }

    .linkBtn {
        border-radius: 50px;
        background: #fff;
        color: #000;
        font-size: 13px;
        font-weight: 600;
        padding: 8px 25px;
    }



}

.categoriesData{
    width: 80%;
}