header {
    background-color: #e5eaf7;

}


.navbar {
    background-color: #112a44;
    color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);

    p {
        margin: 0px;
    }

    .offerCards {
        width: 230px;
        @include flex(row, space-between, center);
        border-right: 1px dashed gray;

        .content {
            margin: 0px 0px 0px 10px;
            @include flex(column, space-between, flex-start);

            .heading {
                font-size: 14px;
                font-weight: bold;
            }

            .text {
                font-size: 12px;
                color: lightgray;
            }
        }
    }

    .content {
        width: 80%;
        margin: auto;
        @include flex(row, space-between, center);

    }

    ul {
        list-style-type: none;
        @include flex(row, flex-end, center);

        li {
            margin: 0px 10px;

            &:last-child {
                margin-right: 0px;
            }

            a {
                text-decoration: none;
                color: #fff;
                @include flex(row, center, center);

            }
        }
    }

    .linkBtn {
        border-radius: 50px;
        background: #fff;
        color: #000;
        font-size: 13px;
        font-weight: 600;
        padding: 8px 25px;
    }



}



.menuSection {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    padding: 10px 0px;



.menuContainer{
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
}
    .rotate {
        transform: rotate(180deg);
        transition: all 0.5s;
    }

    .menus {
        
        height: 100%;
        width: 80%;
        margin: auto;

        ul {
            list-style-type: none;

            .active {
                border-bottom: 2px solid #112a44;
            }

            li {
                padding: 5px;
                cursor: pointer;

            }
        }
    }

    .overlay {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
        position: absolute;
        top: 100%;
        left: 0;
        transition: all 0.5s;
        z-index: 500;
    }

    .hide {
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .show {
        height: 500px;
    }

}


.categoryList{
    width: 50%;
    li{
        display: flex;
    }
a{
    text-decoration: none;
    color: #000;
}
h4{
   width: 250px;
   padding:2px 20px ;

    text-align: center;
    border-bottom:1px solid #112a44;
margin-bottom: 50px
}

}



.categoryCard{
    @include flex(row, space-between, center);
    padding: 20px;

&:hover{
    background-color: whitesmoke;
}
    img{
        width: 40px;
        height: 40px;
        margin-right:20px ;
    }

    .text{
        color: gray;
    }
}

.catContainer{
    @include flex(row, space-between, flex-start);

}