// ContentWrapper

.ContentWrapper{
    width: 80%;
    margin: auto;

}


//categories Components

.menuSection {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    padding: 10px 0px;



.menuContainer{
    display: flex;
    width: 80%;
    margin: auto;
    position: relative;
    @include flex(row, flex-start, center);

}
    .rotate {
        transform: rotate(180deg);
        transition: all 0.5s;
    }

    .menus {
        height: 100%;
        width: 80%;

        ul {
            list-style-type: none;

            .active {
                border-bottom: 2px solid #112a44;
            }

            li {
                padding: 5px;
                cursor: pointer;

            }
        }
    }

    .overlay {
        width: 100%;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
        position: absolute;
        top: 100%;
        left: 0;
        transition: all 0.5s;
        z-index: 500;
    }

    .hide {
        height: 0px;
        padding: 0px;
        overflow: hidden;
    }

    .show {
        height: 500px;
    }

}


.categoryList{
    width: 50%;
    li{
        display: flex;
    }
a{
    text-decoration: none;
    color: #000;
}
h4{
   width: 250px;
   padding:2px 20px ;

    text-align: center;
    border-bottom:1px solid #112a44;
margin-bottom: 50px
}

}



.categoryCard{
    @include flex(row, space-between, center);
    padding: 20px;

&:hover{
    background-color: whitesmoke;
}
    img{
        width: 40px;
        height: 40px;
        margin-right:20px ;
    }

    .text{
        color: gray;
    }
}

.catContainer{
    @include flex(row, space-between, flex-start);

}

.mainCatHeading{
    @include flex(row, flex-start, flex-start);
   

}


