*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: "Inter";

  background-color: #e5eaf7;
}

@import './variables.scss';
@import './mixings.scss';
@import '../components/navbar/navbar.scss';
@import '../pages/homePage/homepage.scss';
@import '../components/component.scss'


